<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemotePrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemotePrinter.Properties.Settings>
            <setting name="defaultprinter" serializeAs="String">
                <value/>
            </setting>
            <setting name="cutcommand" serializeAs="String">
                <value>27.105</value>
            </setting>
            <setting name="drawercommand" serializeAs="String">
                <value>27.112.48</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>http://facturascripts</value>
            </setting>
            <setting name="apikey" serializeAs="String">
                <value/>
            </setting>
            <setting name="autorun" serializeAs="String">
                <value>False</value>
            </setting>
        </RemotePrinter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
